

.screen-size {
  min-width: 500px;
}

.video {
  width: 500px;
}


body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
p,
ul,
li,
figure {
  margin: 0;
  padding: 0;
}
.gg {
  display: grid;
}
h1,
h2,
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.intro {
  padding: 70px;
  margin: 70px;
}
.one {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}
.asides {
  display: grid;
  justify-content: end;
}
th,
td {
  border: solid black;
}
.contains_bot{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.fav1 {
  width: 140px;
  height: 140px;
}
.favis{
  display: grid;
  place-items: center;
  grid-row-gap: 50px;
}
.foov_tables {
  display: grid;
  
}

.fav_tables {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
.wendo {
  padding-top: 100px;
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.sp {
  padding: 10px;
}

.logs {
  width: 70px;
  height: 70px;
  border-radius: 25px;
}
.experience {
  display: flex;
  flex-direction: column;
}
.res_pic {
  width: 200px;
  height: 250px;
  border-radius: 10%;
}
.unord {
  padding: 50px;
}
.hug {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 70px;
}

.hobbies_header{
width: 100%;
}
.space {
  padding: 10px;
}
.asidi {
  display: flex;
  gap: 270px;
}
.langano {
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.hawassa {
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
}
.me {
  border-radius: 210px;
}
.wg {
  text-align: center;
  padding-bottom: 30px;
}
.l {
  text-align: center;
  padding-bottom: 30px;
}
.h {
  text-align: center;
  padding-bottom: 30px;
}
.aside_one {
  float: right;
  background-color: grey;
  border: 1px solid black;
  width: 20em;
  padding: 1em;
  border-radius: 45px;
}

.img_siz {
  width: 350px;
  height: 450px;
  border-radius: 25%;
}

header {
  background-image: url("images/coffee.png");
  background-color: #1d0200;
  color: #fff; 
  padding: 10px; 
  position: relative; 
  border-radius: 50px;
  height: 350px;
}
.favorite_places {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}
.about_me {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}
.hobbi {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}
.resum {
  width: 300px;
  height: 200px;
  border-radius: 25px;
}

.theme {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: white;
}

.hey {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.heyos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.logo {
  width: 40px;
  border-radius: 25px;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 0;
  right: 0;
  gap: 685px;
}
.sd {
  padding: 10px;
}
.top_right {
  display: grid;
  place-items: end;
  top: 0;
}

.lgh {
  float: left;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
}
nav ul {
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  color: #333;
}
.fizz {
  align-items: end;
}

footer {
  background-color: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

figure {
  margin: 0;
}

audio {
  margin-top: 10px;
}

.fig_uno {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}
.contain1 {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contain2 {
  display: grid;
  justify-content: center;
  place-items: center;
}
.contain3 {
  display: grid;
  justify-content: center;
  place-items: center;
}

.left {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  order: 2;
}
.right {
  order: 1;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.left2 {
  order: 2;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
.right2 {
  order: 1;
}

.left3 {
  order: 2;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
.right3 {
  order: 1;
}
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.summary {
  display: grid;
  border-radius: 10px;
  margin: 50px;
  background-color: lightsalmon;
  padding: 30px;
}
.uno {
  width: 80%;
  height: 104px;
  justify-content: center;
}
.contaib_col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.fir_row {
  display: flex;
  padding-top: 50px;
}
.sec_row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}
.iphoto {
  display: flex;
  gap: 10px;
}
.center_me {
  display: flex;
  gap: 10px;
}
.hdiv {
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.second {
  width: 50%;
  margin-left: 0px;
  padding-left: 0;
}

.reads {
  padding-right: 250px;
}

/* Responsive design 
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 50px;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}*/
